.header {
  min-height: 80px;
  max-height: 100px;
  background-color: #121214;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.burgerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchIconForSmallScreen {
  display: none;
}
/* Добавьте ваши стили в файл Header.module.scss */

.menuItem {
  position: relative;
  display: inline-block;
}

.menuTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.8vh;
}

.arrowIcon {
  transition: transform 0.2s ease-in-out;
}

/* Обновленные стили для submenu */
.submenu {
  position: absolute;
  top: -5px; /* Отрицательное значение, чтобы приблизить submenu к элементу menuItem */
  left: 0;
  background-color: #121214;
  list-style-type: none;
  padding: 20px 40px 10px 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
}

/* Для плавной анимации раскрытия */
.submenu.open {
  // max-height: 500px;
  z-index: 1;
}

.menuItem:hover .submenu,
.submenu:hover {
  opacity: 1;
  max-height: 500px; /* Также установите максимальную высоту для при наведении */
}

.subMenuLink {
  position: relative; /* Установите позицию relative для элемента */
  text-decoration: none; /* Уберите стандартное подчеркивание текста */
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0; /* Начальная ширина подчеркивания */
    border-bottom: 2px solid #49d0ff; /* Установите цвет и толщину подчеркивания */
    transition: width 0.2s ease-in-out; /* Добавьте переход для изменения ширины */
  }

  &:hover::after {
    width: 40px; /* Увеличьте ширину при наведении на элемент */
  }

  /* Остальные стили */
  &:hover {
    opacity: 0.7;
  }
}

.anchorBox {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .logoForBigScreen {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 0px;
  }
  .burgerBox {
    gap: 10px;
    & > :first-child {
      order: 3; /* Первый элемент - Burger */
    }

    & > :nth-child(2) {
      order: 2; /* Второй элемент - SearchIcon */
    }

    & > :last-child {
      order: 1; /* Третий элемент - LogoIcon */
    }
  }

  .searchIconForBigScreen {
    display: none;
  }
  .searchIconForSmallScreen {
    display: block;
  }
  .icons {
    gap: 8px;
  }
  .nav {
    position: relative;
  }

  .logoIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
